@import 'sprites/hearts';
@import 'sprites/questions';

div {
  margin: 20px auto;
}

.heart {
  @include sprite($heart1);
}

.retina-heart {
  @include retina-sprite($heart1-group);
}

.question {
  @include sprite($question1);
}

.retina-question {
  @include retina-sprite($question1-group);
}

@keyframes heartAnim {
  25% {
    @include sprite-position($heart2);
  }
  50% {
    @include sprite-position($heart3);
  }
  75% {
    @include sprite-position($heart4);
  }
  100% {
    @include sprite-position($heart1);
  }
}

.heart, .retina-heart {
  animation: heartAnim 1s step-end infinite;
}

@keyframes questionAnim {
  25% {
    @include sprite-position($question2);
  }
  50% {
    @include sprite-position($question3);
  }
  75% {
    @include sprite-position($question4);
  }
  100% {
    @include sprite-position($question1);
  }
}

.question, .retina-question {
  animation: questionAnim 1s step-end infinite;
}
